body{ 
	color :rgb(16, 222, 230); /* color permet de changer la couleur de notre texte. On pourra utiliser le nom anglais d'une couleur, son code hexadécimal #, ou encore un code RGB */
	background-color:#1446db; /*background-color permet de changer la couleur de fond de nos éléments */
	font-family:cursive;/*font-family permet de changer la police de notre site, c'est-à-dire le style d'écriture. On peut choisir entre plusieurs sérif, sans-sérif, cursive et monospace*/
	font-size:15px; /*font-size permet de modifier la taile des lettres*/
	line-height:20px;/*line-height permet de modifier l'espace qu'il y a entre 2 lignes de texte */
	text-align:center;/*Grâce à text-align, il est possible de changer la position du texte en le mettant au centre avec la valeur center, à gauche avec left, ou à droite avec right*/
	

}

h1{
	color:#e610e6;
	font-family:monospace; 
	font-variant:small-caps;/*font-variant, avec pour valeur smal-caps, permet de transformer toutes les lettres petites majucules*/	
	letter-spacing:1px;/*pour pouvoir augmenter l'espace entre les lettres, on utilise la propriété letter-spacing*/
	
}

h2{
	color:#e610e6;
	font-weight:lighter;/*Grâce à font-weight, il est possible de modifier l'épaisseur des lettres, lighter pour les affiner, et bolder pour les épaissir*/
}

a{
	color:#e610e6;
	text-decoration:none; /*le texy-decoration avec pour valeur none permet de supprimer la barre de soulignement présente en dessous du format par défaut des liens*/
}

a:hover{ /*grâce à cette sélectio, il est possible de modifier la couleur de notre lien lorsque l'on passe notre souris dessus*/
	color:#13f2f2;
}

div{
    margin:25px 300px;/*margin correspond à la marge extérieur*/
	padding:10px;/*padding correspond à la marge intérieur*/
	border-radius:15px; /*border-radius permet d'arrondir les angles de nos bords*/
	box-shadow:10px 10px 20px red;/*box-shadow permet d'ajouter une ombre à nos éléments*/
}

iframe{
	border-radius:10px;

}

img{
	border-radius:10px;

}

.vert{
	color:green;
}

.rouge{
	color:red;
}
